footer {
  background: $c-corporateblue;
  padding: 12px 0 10px;

  p, a {
    color: $c-white;
    @include font-size(1.4, 2.5);
  }

  .links {
    border-top: 1px solid $c-white;
    padding-top: 15px;

    a {
      display: block;
      margin-bottom: 5px;

      &:hover {
        border-bottom: 1px solid $c-white;
      }
    }
  }

  @media (min-width: $screen-sm) {
    @include clearfix;

    p {
      display: inline-block;
      float: left;
      margin: 0;
    }

    .links {
      border-top: none;
      display: inline-block;
      float: right;
      padding: 0;

      a {
        display: inline-block;
        margin-bottom: 0;


        &:first-child {
          margin-right: 40px;
        }
      }
    }
  }
}
