header {
  padding: 20px 0;
  @include clearfix;
  position: relative;
  z-index: 2;
  background: $c-white;
  border-bottom: 1px solid $c-corporateblue;

  .logo {
    svg {
      max-width: 200px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  .tel {
    text-decoration: none;
    display: table;
    margin: 15px auto 0;
    text-align: center;
    font-weight: bold;
    position: relative;

    &:before {
      content:'';
      background-image: url('../images/phone.png');
      width: 21px;
      height: 21px;
      background-size: cover;
      position: absolute;
      left: -30px;
      top: 4px;
    }
  }

  @media (min-width: $screen-sm) {
    border-bottom: none;
    
    .logo {
      svg {
        max-width: 300px;
        display: inline-block;
        margin: 0;
        float: left;
      }
    }

    .tel {
      display: inline-block;
      text-align: left;
      float: right;
      margin-top: 10px;
    }
  }
}
