nav {
  background: $c-lightblue;
  padding: 15px 0;
  display: none;

  .anchorlinks {
    display: table;
    margin: 0 auto;

    a {
      display: inline-block;
      font-family: $title-font;
    }

    span {
      display: inline-block;
      margin: 0 15px;
    }
  }

  @media (min-width: $screen-md) {
    display: block;
  }
}
