/*REMOVE ON UMBRACO INSTALL*/
.testmenu {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px;
	background: #111111;

	select {
		width: 270px;
		font-size: 16px;
		padding: 10px 5px;
		margin-bottom: 0;
		background: $c-white;
	}
}

/*REMOVE END*/

@-ms-viewport {
	width: auto;
}

html, body {
	overflow-x: hidden;
	-ms-overflow-style: auto !important;
	font-size: 62.5%;
}

body {
	@include font-smoothing;
	font-family: $body-font;
	position: relative;
	overflow: hidden;

	&.open {
		&:before {
			content:'';
			background: black;
			opacity: 0.4;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 25;
		}
	}
}

img {
	max-width: 100%;
	display: block;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: $c-title;
	margin: 0 0 10px;
	font-family: $title-font;
	font-weight: 600;
}

h1, .h1, h1 span {
	@include font-size(4.0, 4.5);
}
h2, .h2 {
	@include font-size(3.0, 3.5);
}
h3, .h3 {
	@include font-size(2.5, 3.0);
}
h4, .h4 {
	@include font-size(2.0, 2.5);
}

p,
ul li,
ol li,
a,
span {
	@include font-size(1.8, 2.8);
	color: $c-bodytext;
	font-family: $body-font;
}

p {
	margin: 0 0 15px;

	&.preamble, .preamble {
		@include font-size(2.0, 3.0);
		@include font-smoothing;
		color: #205fa6;
		font-family: $title-font;
	}

	strong {
		font-weight: 800;
	}
}

ol {
	margin: 15px 0 15px 17px;
}

ul {
	list-style:none;
	margin: 15px 0;

	li {
		position: relative;
		margin-bottom: 10px;

		&:before {
			content:'';
			background: $c-black;
			width: 5px;
			height: 5px;
			vertical-align: middle;
			margin-right: 5px;
			@include border-radius(5px);
			display: inline-block;
		}
	}
}

ol {
	list-style: decimal;
}

blockquote {
	@include font-size(2.2, 3.2);
	color: $c-corporateblue;
	font-weight: 600;
	position: relative;
	z-index: 2;
	margin-top: 80px;
	display: block;

	&:before {
		content:'';
		background-image: url('../images/quote.png');
		background-size: cover;
		width: 47px;
		height: 32px;
		display: block;
		position: absolute;
		z-index: -1;
		top: -40px;
		left: 0;
	}

	@media (min-width: $screen-md) {
		margin-top: 100px;
		@include font-size(2.6, 3.6);
	}
}

cite {
	color: $c-cyan;
	margin: 15px 40px 15px 0;
	font-weight: 600;
	@include font-size(2.0, 2.5);
	display: block;
	text-align: right;
}

em {
	font-style: italic;
}

// MEDIA QUERIES
// -------------------------------
@media (min-width:$screen-md){
	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
		margin-bottom: 15px;
	}

	h1, .h1, h1 span {
		@include font-size(5.5, 6.0);
	}
	h2, .h2 {
		@include font-size(4.0, 4.5);
	}
	h3, .h3 {
		@include font-size(3.0, 3.5);
	}
	h4, .h4 {
		@include font-size(2.5, 3.0);
	}

	p,
	ul li,
	ol li,
	a,
	span {
		@include font-size(2.0, 3.0);
	}

	p {
		&.preamble {
			@include font-size(2.5, 3.5);
		}
	}
}

@media (min-width:$screen-xl){
	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
		margin-bottom: 15px;
	}

	h1, .h1, h1 span {
		@include font-size(6.5, 7.0);
	}
	h2, .h2 {
		@include font-size(4.5, 5.0);
	}
	h3, .h3 {
		@include font-size(3.5, 4.0);
	}
	h4, .h4 {
		@include font-size(3.0, 3.5);
	}
}
