.btn, button {
  display: inline-block;
  color: $c-white;
  padding: 18px 30px;
  background: $c-corporateblue;
  @include border-radius(60px);
  border: 2px solid $c-corporateblue;
  @include font-size(2.0, 1.9);
  font-weight: 600;
  min-width: 120px;
  text-align: center;
  @include transition(all 0.4s ease-in-out);
  cursor: pointer;

  &.calendar {
    position: relative;
    padding-left: 55px;

    &:before {
      content:'';
      background-image: url('../images/calendar.png');
      background-size: cover;
      position: absolute;
      width: 20px;
      height: 22px;
      left: 25px;
      top: 50%;
      margin-top: -11px;
    }
  }

  &:hover {
    background: transparent;
    color: $c-corporateblue;
    border: 2px solid $c-corporateblue;
  }

  @media (min-width: 350px) {
    &.calendar {
      padding-left: 65px;

      &:before {
        left: 30px;
      }
    }
  }
}
