label {
  &.error {
    color: $c-errorred;
  }
}

input,
textarea {
  @include border-radius(5px);
  border: none;
  padding: 11px 15px;
  border: 2px solid $c-white;
  @include transition(all 0.2s ease-in-out);

  &:focus {
    outline: 0;
  }

  &.error{
    border: 2px solid $c-errorred;
  }
}

textarea {

}

@-moz-document url-prefix() {
  select {
    -moz-appearance: none;
    background-image: url('../img/select.png');
    padding-right: 50px;
    border: 1px solid $c-lightgrey;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px 8px;
  }
}

select {
  &:focus {

  }

  &.error{

  }
}

button {

}
