a {
  color: $c-corporateblue;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  @include transition(all 0.4s ease-in-out);

  &:hover, &:active, &:visited {
    border-bottom: 1px solid $c-corporateblue;
  }
}
