$body-font: "Lato", Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
$title-font: "regular", Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;

@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: ($lineHeight * 10) + px;
}

@font-face {
  font-family: 'regular';
  src: url("../regular/Regular-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: 'regular';
  src: url("../regular/Regular-Medium.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: 'regular';
  src: url("../regular/Regular-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: 'regular';
  src: url("../regular/Regular-SemiBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'regular';
  src: url("../regular/Regular-Extrabold.otf") format("opentype");
  font-weight: 800;
}

@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: ($lineHeight * 10) + px;
}
