.m-5050curve {
  background: #febb22;
  position: relative;
  padding-bottom: 40px;

  &.patientstory {
    background: #00a3dc;

    .text {
      text-align: center;

      &:after {
        overflow: hidden;
        margin-left: -5%;
        width: 110%;
        content:'';
        position: absolute;
        background: #00a3dc;
        left: 0;
        bottom: -60px;
        height: 60px;
        z-index: 22;
        @include border-radius(0 0 100% 100%);
      }

      h2, h4, blockquote, cite, p {
        color: $c-white;
      }

      cite {
        @include font-size(1.2, 1.2);
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-right: 0;
        text-align: center;
      }

      blockquote {
        margin-top: 40px;

        &:before {
          left: 50%;
          margin-left: -23.5px;
        }
      }

      h4 {
        margin-top: 40px;
      }

      .btn {
        margin-top: 10px;
        width: calc(100% - 65px);
      }
    }

    .videomodal {
      @include centre(both);
      position: fixed;
      z-index: 30;
      display: none;
      width: 80%;

      iframe {
        width: 250px;
        height: 150px;
        display: table;
        margin: 0 auto;
      }

      .modal-close {
        @include centre(x);
        cursor: pointer;
        left: calc(50% + 125px);
        top: -21px;
        width: 40px;
        height: 40px;
        border: 3px solid $c-corporateblue;
        @include border-radius(40px);
        background: $c-white;
        @include transition(all 0.4s ease-in-out);

        &:hover {
          background: $c-corporateblue;

          svg {
            fill: $c-white;
          }
        }

        svg {
          @include centre(both);
          width: 20px;
          height: 20px;
          fill: $c-corporateblue;
          @include transition(all 0.4s ease-in-out);
        }
      }
    }

    @media (min-width: $screen-sm) {
      .text {
        text-align: left;

        &:after {
          display: none;
        }

        .btn {
          width: auto;
        }

        cite {
          text-align: left;
        }

        blockquote {
          &:before {
            left: 0;
            margin-left: 0;
          }
        }
      }
    }
  }

  .image {
    @include grid(12, 6, 6, 6);
    margin-bottom: 40px;

    img {
      display: block;
    }
  }

  .text {
    @include grid(12, 6, 6, 6);

    h2 {
      color: $c-black;
      margin-bottom: 30px;
    }

    p {
      max-width: 450px;
    }
  }

  @media (min-width: 370px) {
    &.patientstory {
      .videomodal {
        iframe {
          width: 350px;
          height: 200px;
        }

        .modal-close {
          left: calc(50% + 175px);
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    padding: 0;
    overflow: hidden;

    &.patientstory {
      .text {
        right: auto;
        left: 0;

        h4 {
          margin-top: 60px;
        }
      }

      .image {
        float: right;
        @include border-radius(30% 0 0 30%/100%);
        left: auto;
        right: -25px;
        min-height: 800px;
      }

      .videomodal {
        iframe {
          width: 600px;
          height: 345px;
        }

        .modal-close {
          left:calc(50% + 300px);
        }
      }
    }

    .container {
      position: relative;
      @include centre(both);
    }

    .text {
      @include centre(y);
      right: 0;
    }

    .image {
      @include border-radius(0 30% 30% 0/100%);
      overflow: hidden;
      position: relative;
      left: -25px;
      min-height: 600px;
      margin-bottom: -20px;
      margin-top: -20px;

      img {
        height: calc(100% + 60px);
        @include image-cover();
      }
    }
  }

  @media (min-width: $screen-lg) {
    &.patientstory {
      .text {
        padding-right: 200px;

        blockquote {
          @include font-size(5.0, 5.5);
        }
      }

      .videomodal {
        iframe {
          width: 900px;
          height: 505px;
        }

        .modal-close {
          left:calc(50% + 450px);
        }
      }
    }
  }
}
