.m-5050 {
  padding: 60px 0;

  &.imageblur {
    .image {
      img {
        box-shadow: 0px 0px 30px $c-grey;
      }
    }
  }

  &.justgiving {
    background: #004899;

    .image {
      img {
        display: table;
        margin: 0 auto;
        max-width: 200px;
      }
    }

    .text {
      text-align: center;
      margin-bottom: 0;

      h2, p {
        color: $c-white;
      }

      h2 {
        margin-bottom: 0;
      }

      .slim {
        margin-bottom: 20px;
      }

      .btn {
        background: $c-white;
        color: #004899;
        border: 2px solid $c-white;

        &:hover{
          background: #004899;
          color: $c-white;
        }
      }
    }

    @media (min-width: $screen-sm) {
      .image {
        img {
          display: block;
          margin: 0;
          max-width: 100%;
        }
      }

      .text {
        text-align: left;

        .slim {
          margin-bottom: 30px;
        }
      }
    }
  }

  .text {
    @include grid(12, 6, 6, 6);

    .slim {
      font-weight: 400;
    }

    .btn {
      margin-top: 15px;
    }
  }

  .image {
    @include grid(12, 6, 6, 6);
    margin-bottom: 40px;

    img {
      @include border-radius(15px);
    }
  }

  @media (min-width: $screen-sm) {

    &.reversed {
      .image {
        float: left;
      }

      .text {
        right: 0;
        left: auto;
      }
    }

    .container {
      position: relative;
    }

    .text {
      margin-bottom: 0;
    }

    .image {
      float: right;
    }
  }

  @media (min-width: $screen-md) {
    padding: 120px 0;

    .text {
      @include centre(y);
    }
  }
}
