.m-formbanner {
  position: relative;
  background: $c-white;

  &:after {
    overflow: hidden;
    margin-left: -5%;
    width: 110%;
    content:'';
    position: absolute;
    background: $c-cyan;
    bottom: -55px;
    height: 60px;
    z-index: 22;
    @include border-radius(0 0 100% 100%);
  }

  .text {
    @include grid(12, 6, 6, 6);
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;

    h1 span {
      color: $c-cyan;
    }

    p {
      font-family: $title-font;
      @include font-size(2.0, 3.0);
      color: $c-corporateblue;
      font-weight: 600;
      margin-top: 20px;
    }
  }

  .form {
    @include grid(12, 6, 6, 6);
    background: $c-cyan;
    padding: 40px 0 0;

    h2 {
      @include font-size(2.7, 3.0);
      color: $c-white;
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      padding: 0 40px;

      ::-webkit-input-placeholder {
        color: $c-lightgrey;
      }
      ::-moz-placeholder {
        color: $c-lightgrey;
      }
      :-ms-input-placeholder {
        color: $c-lightgrey;
      }
      :-moz-placeholder {
        color: $c-lightgrey;
      }

      .error {
        @include font-size(1.6, 2.2);
        font-weight: 600;
        margin-bottom: 10px;
        display: block;
      }

      input {
        display: block;
        @include font-size(1.8, 2.8);
        color: $c-lightgrey;
        width: calc(100% - 32px);
        margin-bottom: 10px;
        @include border-radius(10px);
        border: 2px solid transparent;
        background: #ededed;
        margin-bottom: 15px;

        &.error {
          border: 2px solid $c-errorred;
          @include font-size(1.8, 2.8);
        }

        &:focus {
          background: #ededed;
        }
      }

      .btn {
        background: $c-emerald;
        @include font-size(2.0, 2.0);
        @include border-radius(60px);
        display: block;
        width: 100%;
        border: 2px solid $c-emerald;
        color: $c-white;
        margin-top: 25px;

        &:hover {
          background: $c-white;
          color: $c-emerald;
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    padding: 40px 0 0;

    &:after {
      background: $c-white;
    }

    .text {
      text-align: left;

      p {
        max-width: 480px;
      }
    }

    .form {
      background: $c-white;

      h2 {
        color: $c-cyan;
        text-align: left;
      }

      form {
        max-width: 440px;
        display: table;
        margin: 0 auto;
      }
    }
  }

  @media (min-width: $screen-md) {
    padding: 80px 0 40px;

    .form {
      h2 {
        @include font-size(3.5, 4.0);
      }
    }

    .text {
      p {
        @include font-size(3.0, 4.0);
        margin-top: 40px;
      }
    }
  }
}
