.m-fullwidthstatement {
  position: relative;
  overflow: hidden;

  &:after {
    content:'';
    background: $c-white;
    position: absolute;
    bottom: -70px;
    left: -10%;
    width: 120%;
    height: 100px;
    @include border-radius(100% 100% 0 0/100%);
  }

  .imgcontainer {
    position: relative;
    overflow: hidden;
    min-height: 500px;

    img {
      display: block;
      @include image-cover();
    }
  }

  .statement {
    margin-top: -15px;
    @include centre(both);
    background: #00a3dc;
    width: 310px;
    height: 310px;
    @include border-radius(500px);

    .inner {
      @include centre(both);
      width: 300px;

      h2 {
        color: $c-white;
        @include font-size(2.5, 3.0);
        text-align: center;
      }

      .btn {
        display: table;
        margin: 25px auto 0;
      }
    }
  }

  @media (min-width: 350px) {
    .statement {
      width: 350px;
      height: 350px;

      .inner {

        h2 {
          @include font-size(2.8, 3.5);
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    &:after {
      bottom: -225px;
      left: -10%;
      width: 120%;
      height: 290px;
    }

    .imgcontainer {
      min-height: 800px;
    }

    .statement {
      width: 450px;
      height: 450px;

      .inner {
        h2 {
          @include font-size(3.8, 4.5);
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    .imgcontainer {
      min-height: 880px;
    }
  }
}
