.m-fullwidthimg {
  position: relative;
  overflow: hidden;
  min-height: 550px;

  &:before {
    content:'';
    background: $c-white;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
  }

  .image {
    img {
      @include image-cover();
    }
  }


  .text {
    margin-top: 50px;
    @include centre(y);
    width: 520px;
    max-width: calc(100% - 50px);
    z-index: 2;

    img {
      max-width: 290px;

      margin-bottom: 20px;
    }

    p {
      color: $c-black;
    }

    .small {
      @include font-size(1.2, 2.0);
    }
  }

  @media (min-width: $screen-md) {
    &:before {
      display: none;
    }
  }
}
