.m-imgbanner {
  position: relative;
  background: $c-lightblue;

  .imgcontainer {
    margin-top: -10px;
    margin-left: -5%;
    overflow: hidden;
    width: 110%;
    @include border-radius(0 0 50% 50%/20%);
    position: relative;
    min-height: 550px;

    img {
      position: relative;
      top: 10px;
      @include image-cover();
      z-index: 1;
    }
  }

  .container {
    position: relative;

    .text {
      position: absolute;
      z-index: 2;
      max-width: 520px;
      top: 40px;
      left: 0;
      padding: 0 25px;

      img {
        margin-top: 20px;
      }

      h1 {
        color: $c-corporateblue;
        font-weight: 600;

        span {
          color: $c-cyan;
        }
      }

      .btn {
        margin-top: 30px;
      }
    }
  }

  @media (min-width: 370px) {
    .imgcontainer {
      min-height: 450px;
    }
  }

  @media (min-width: $screen-md) {
    .imgcontainer {
      margin-top: 0;
      min-height: 550px;
    }

    .container {
      .text {
        top: 60px;
      }
    }
  }
}
