.m-intro {
  background: $c-lightblue;
  padding: 40px 0 0;
  position: relative;

  .container {
    position: relative;
  }

  .bgtext {
    color: $c-white;
    position: absolute;
    font-family: $title-font;
    font-weight: 600;
    display: none;
    @include font-size(15.0, 15.0);
    @include centre(y);
    left: 25px;
    margin-top: -160px;
  }

  .text {
    @include grid(12, 6, 6, 6);
    margin-bottom: 30px;
    position: relative;
  }

  .image {
    @include grid(12, 6, 6, 6);

    img {
      display: block;
    }
  }

  @media (min-width: $screen-sm) {
    .bgtext {
      display: block;
    }
  }

  @media (min-width: $screen-md) {
    .bgtext {
      margin-top: -150px;
    }

    .text {
      @include centre(y);
    }

    .image {
      float: right;
    }
  }

  @media (min-width: $screen-lg) {
    .bgtext {
      margin-top: -130px;
    }
  }

  @media (min-width: $screen-xl) {
    .bgtext {
      @include font-size(20.0, 20.0);
    }
  }

  @media (min-width: 1600px) {
    .bgtext {
      left: 120px;
    }
  }
}
